/*This is for screens that are bigger than 426px wide (tablet)*/
@media screen and (min-width: 426px) {
  p {
    font-size: 17px;
    font-weight: 200;
    text-indent: 10%;
  }
  .filmIntro, .dramas, .movies {
    padding: 30px 5vw 30px; /*Top, left and right, bottom*/
  }
}

/*This is for the intro section */
@media screen and (min-width: 426px) {
  #FilmHeading {
    width: 50%;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25); /*right, bottom, blur, colour*/
    float: left;
  }
  .filmAbout {
    width: 50%;
    box-sizing: border-box;
    float: left;
    padding-left: 3.5vw;
  }
  .filmAbout h1 {
    margin: -5px 0 8px; /*top, left and right, bottom*/
    font-size: 40px;
  }
  .filmIntro .filmAbout p {
    margin: 5px 0 0; /*top, left and right, bottom*/
  }
}


/*This is for the Dramas and Movies sections*/
/*Done in the same selections for less code as they should look the same*/
 @media screen and (min-width: 426px) {
   h2 {
     text-align: center;
     margin: 10px 0; /*top and bottom, then left and right*/
     font-size: 40px;
     font-weight: 500;
     margin-top: -5px;
   }
   .dramas ul, .movies ul {
     padding: 0;
     margin-top: 5px;
     list-style: none;
   }
   .dramas ul li, .movies ul li {
     width: 100%;
     padding: 20px 0;
   }
   .dramas ul li p, .movies ul li p {
     font-size: 17px;
     font-weight: 200;
     text-align: left;
     max-width: 80vw;
     margin: 0;
   }
   .dramas ul li .arrow, .movies ul li .arrow {
     font-size: 110%;
     float: right;
     margin: -5.2vw 0.5vw 0 0; /*top, right, bottom, left*/
   }
   /*Placing the dt and dd elements next to each other*/
   .dramas ul li dl, .movies ul li dl {
     width: 100%;
     padding: 0;
     margin: 20px 0 10px 0; /*top, right, bottom, left*/
   }
   .dramas ul li dt, .movies ul li dt {
     float: left;
     width: 25%;
     padding: 0;
     margin: 0;
     font-size: 17px;
     font-weight: 500;
   }
   .dramas ul li dd, .movies ul li dd {
     float: left;
     width: 75%;
     padding: 0;
     margin: 0;
     font-size: 17px;
     font-weight: 200;
   }
   .dramas .plot, .movies .plot {
     min-width: 100%;
   }
   h3 {
     text-align: center;
     margin: 10px 0 5px; /*top, left and right, bottom*/
     font-size: 30px;
     font-weight: 400;
   }
   .dramas video, .movies video {
     max-width: 100%;
   }
 }
