/*This is general styling for the filmography page that applies to all screen widths*/
h1 {
  color: black;
}


/*This is for the intro section*/
.filmIntro {
  background-color: #b68af6;
}
.filmIntro p {
  color: black;
}


/*This is for screens that are smaller than 425px wide (mobile s, m and l)*/
@media screen and (max-width :425px) {
  p {
    font-size: 16px;
    font-weight: 100;
  }
  .filmIntro, .dramas, .movies {
    padding: 5vw;
  }
}

/*This is for the heading section */
@media screen and (max-width: 425px) {
  #FilmHeading {
    width: 100%;
    max-width: 425px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25); /*right, bottom, blur, colour*/
  }
  h1 {
    margin: 10px 0; /*top and bottom, then left and right*/
    font-size: 35px;
    font-weight: 500;
    margin-top: -5px;
  }
  .filmIntro p {
    padding: 0;
    margin: 5px 0 0; /*top, left and right, bottom*/
    text-indent: 10%;
  }
}


/*This is for the Dramas section*/
.dramas {
  background-color: #222122;
}
.dramas h2 {
  color: white;
}
.dramas h3 {
  color: #c99afe;
}
.dramas ul li p {
  color: white;
}
.dramas ul li .arrow {
  color: #c99afe;
}
.dramas ul li dt {
  color: #c99afe;
}
.dramas ul li dd {
  color: white;
}
.dramas ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.dramas ul #river {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}


/*This is for the Movies section*/
.movies {
  background-color: #9f9f9f;
}
.movies h2 {
  color: black;
}
.movies h3 {
  color: #621db0;
}
.movies ul li p {
  color: black;
}
.movies ul li .arrow {
  color: #621db0;
}
.movies ul li dt {
  color: #621db0;
}
.movies ul li dd {
  color: black;
}
.movies ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.movies ul #princess {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}


/*This is for the drop downs*/
.dropDownInfo, #riverArrowUp, #nokduArrowUp, #alarmArrowUp, #radioArrowUp, #emperorArrowUp, #goblinArrowUp, #ghostArrowUp, #pageArrowUp, #nightmareArrowUp, #who_are_youArrowUp, #smellsArrowUp, #voiceArrowUp, #moonArrowUp, #princessArrowUp, #unforgettableArrowUp, #killerArrowUp, #kingArrowUp, #spyArrowUp, #familyArrowUp, #manArrowUp {
  display: none;
  visibility: hidden;
}

#riverArrowDown, #nokduArrowDown, #alarmArrowDown, #radioArrowDown, #emperorArrowDown, #goblinArrowDown, #ghostArrowDown, #pageArrowDown, #nightmareArrowDown, #who_are_youArrowDown, #smellsArrowDown, #voiceArrowDown, #moonArrowDown, #princessArrowDown, #unforgettableArrowDown, #killerArrowDown, #kingArrowDown, #spyArrowDown, #familyArrowDown, #manArrowDown {
  display: block;
  visibility: visible;
}


/*This is for the Dramas and Movies sections*/
/*Done in the same selections for less code as they should look the same minus a few colour changes*/
@media screen and (max-width: 425px) {
  h2 {
    margin: 10px 0; /*top and bottom, then left and right*/
    font-size: 35px;
    font-weight: 500;
    margin-top: -5px;
  }
  .dramas ul, .movies ul {
    padding: 0;
    margin-top: 5px;
    list-style: none;
  }
  .dramas ul li, .movies ul li {
    width: 100%;
    padding: 20px 0;
  }
  .dramas ul li p, .movies ul li p {
    font-size: 16px;
    font-weight: 100;
    text-align: left;
    max-width: 80vw;
    margin: 0 0.5vw 0 0; /*top, right, bottom, left*/
  }
  .dramas ul li .arrow, .movies ul li .arrow {
    font-size: 100%;
    float: right;
    margin: -11.5vw 0.5vw 0 0; /*top, right, bottom, left*/
  }
  /*Placing the dt and dd elements next to each other*/
  .dramas ul li dl, .movies ul li dl {
    width: 100%;
    padding: 0;
    margin: 20px 0 10px 0; /*top, right, bottom, left*/
  }
  .dramas ul li dt, .movies ul li dt {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
  }
  .dramas ul li dd, .movies ul li dd {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 100;
  }
  .dramas .plot, .movies .plot {
    min-width: 100%;
  }
  h3 {
    margin: 10px 0 5px; /*top, left and right, bottom*/
    font-size: 25px;
    font-weight: 400;
  }
  .dramas video, .movies video {
    max-width: 100%;
    margin: 0 auto;
  }
}
