footer {
  background-color: white;
  height: auto;
}

.social_List {
  list-style: none;
  padding: 0 auto;
  text-align: center;
  padding-left: 0px;
}

.social_List li a {
  color: #651a8e;
  border-radius: 50px;
  background-color: rgba(116, 4, 177, 0.2);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  vertical-align: middle;
}

/*This is for screens that are smaller than 425px wide (mobile s, m and l)*/
@media screen and (max-width: 425px) {
  footer {
    padding: 6.64vw 3.61vw; /*top and bottom, then left and right*/
  }
  .social_List li a {
    padding: 5px 10px; /*top and bottom, then left and right*/
    margin: 5px;
    font-size: 5vw;
  }
  .social li a img {
    height: 5.47vw;
  }
  .copyright {
    padding: 5px 0;
  }
  .copyright p {
    font-size: 10px;
    font-weight: 100;
    text-align: center;
    color: #651a8e;
  }
}

/*This is for screens that are between 426px and 768px wide (tablet)*/
@media screen and (min-width: 426px) and (max-width: 768px) {
  footer {
    padding: 5vw 2vw; /*top and bottom, then left and right*/
  }
  .social_List {
    margin-top: -1.5vw;
    float: left;
    width: 50%;
    box-sizing: border-box;
  }
  .social_List li a {
    padding: 5px 10px; /*top and bottom, then left and right*/
    margin: 8px;
    font-size: 2vw;
  }
  .social li a img {
    height: 2vw;
  }
  .copyright {
    float: left;
    width: 50%;
    margin-top: -2vw;
    padding: 5px 0;
    box-sizing: border-box;
  }
  .copyright p {
    font-size: 9px;
    font-weight: 100;
    text-align: center;
    color: #651a8e;
  }
}

/*Changes navigation bar when the screen is more than 768px wide (anything bigger than tablet)*/
@media screen and (min-width: 769px) {
  footer {
    padding: 3.5vw 2vw; /*top and bottom, then left and right*/
  }
  .social_List {
    margin-top: -1vw;
    float: left;
    width: 50%;
    box-sizing: border-box;
  }
  .social_List li a {
    padding: 5px 10px; /*top and bottom, then left and right*/
    margin: 10px;
    font-size: 1.5vw;
  }
  .social li a img {
    height: 1.5vw;
  }
  .copyright {
    float: left;
    width: 50%;
    margin-top: -1.5vw;
    padding: 5px 0;
    box-sizing: border-box;
  }
  .copyright p {
    font-size: 8px;
    font-weight: 100;
    text-align: center;
    color: #651a8e;
  }
}
