/*This is general styling for the Gallery page that applies to all screen widths*/
.galleryAbout h1 {
  color: #6218a4;
}

/*This is for the intro section*/
.galleryIntro {
  background-color: #c4c4c4;
}
.galleryIntro p {
  color: #6218a4;
  text-indent: 10%;
}

/*This is for the Collection section*/
.collection {
  background-color: #340058;
}

/*This is for the INterview section*/
.interview {
  background-color: #222222;
}

.interview h1 {
  color: #ce98ff;
}
.interview h2 {
  color: #e7bbff;
}

/*This is for screens that are smaller than 425px wide (mobile s, m and l)*/
@media screen and (max-width :425px) {
  p {
    font-size: 16px;
    font-weight: 100;
  }
  .galleryIntro, .interview {
    padding: 5vw;
  }
  .collection {
    padding-top: 1.5vw;
  }
}

/*This is for the heading section */
@media screen and (max-width: 425px) {
  #GalleryHeading {
    width: 100%;
    max-width: 425px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25); /*right, bottom, blur, colour*/
  }
  .galleryAbout h1 {
    margin: -5px 0 5px 0; /*top and bottom, then left and right*/
    font-size: 35px;
    font-weight: 500;
  }
  .galleryIntro p {
    padding: 0;
    margin: 5px 0 10px; /*top, left and right, bottom*/
  }

  /*This is for the Collection section*/
  .collection img {
    width: 100vw;
    height: 100vw;
    object-fit: cover;
  }
  /*Repositioning some of the images to fit in the container (object-fit)*/
  #photo3 {
    object-position: 100% 30%;
  }
  #photo9 {
    object-position: 100% 5%;
  }
  #photo12 {
    object-position: 100% 0%;
  }
  #photo15 {
    object-position: 100% 0%;
  }
  #photo18 {
    object-position: 100% 60%;
  }

  /*This is for the image popups in the Collection section*/
  .collection .collectionInner {
    display: table;
  }
  .popup {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.7s;
    width: 100vw;
    position: absolute;
    left: 0;
    top: auto;
    z-index: 1;
  }
  .popup img {
    width: 100vw;
    height: 100%;
    object-fit: fill;
  }
  .closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    font-size: 7vw;
    color: #340058;
  }
  /*Repositioning most of the images for a better fade when clicked*/
  #photo1_popup, #photo4_popup, #photo14_popup, #photo18_popup {
    margin-top: -25%;
  }
  #photo2_popup, #photo6_popup {
    margin-top: -19.3%;
  }
  #photo3_popup {
    margin-top: -17.7%;
  }
  #photo5_popup {
    margin-top: -16.7%;
  }
  #photo7_popup {
    margin-top: -17%;
  }
  #photo8_popup {
    margin-top: -15%;
  }
  #photo9_popup {
    margin-top: -2.4%;
  }
  #photo10_popup {
    margin-top: -19.4%;
  }
  #photo11_popup {
    margin-top: -25.4%;
  }
  #photo13_popup {
    margin-top: -21.8%;
  }
  #photo16_popup {
    margin-top: -22.6%;
  }

  /*This is for the Interview section*/
  .interview h1 {
    margin: -5px 0 5px 0; /*top and bottom, then left and right*/
    font-size: 35px;
    font-weight: 500;
    text-align: center;
  }
  .interview h2 {
    margin: -5px 0 5px 0; /*top and bottom, then left and right*/
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }
  audio {
    display: block;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
  .int1 {
    border-bottom: 1px solid rgba(229, 193, 254, 0.25);
    padding-bottom: 20px;
  }
  .int2 {
    padding-top: 15px;
  }
}
