/*This is for screens that are bigger 768px wide (anything bigger than tablet)*/
@media screen and (min-width: 769px) {
  p {
    font-size: 18px;
    font-weight: 200;
  }
  .galleryIntro, .interview {
    padding: 30px 6vw 30px; /*Top, left and right, bottom*/
  }
  .collection {
    padding-top: 1vw;
  }
}

/*This is for the intro section */
@media screen and (min-width: 769px) {
  #GalleryHeading {
    width: 50%;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25); /*right, bottom, blur, colour*/
    float: right;
  }
  .galleryAbout {
    width: 50%;
    box-sizing: border-box;
    float: left;
    padding-right: 4vw;
  }
  .galleryAbout h1 {
    margin: -12px 0 8px; /*top, left and right, bottom*/
    font-size: 40px;
  }
  .galleryIntro .galleryAbout p {
    margin: 5px 0 0; /*top, left and right, bottom*/
  }
}

/*This is for the Collection section*/
/*For screens bigger than 1440px wide (laptop l)*/
@media screen and (min-width: 1440px) {
  .collectionInner {
    width: 1070px;
    margin: 0 auto;
  }
  .collection #photo1, #photo2, #photo3, #photo5, #photo6, #photo7, #photo8, #photo9, #photo10, #photo12, #photo13, #photo14, #photo15, #photo17, #photo18 {
    width: calc(1070px / 3);
    height: calc(1070px / 3);
    object-fit: cover;
  }
  .collection #photo4, #photo11, #photo16 {
    width: calc((1070px / 3) * 2 + 3px);
    height: calc((1070px / 3) * 2 + 3px);
    object-fit: cover;
  }
  .popup img {
    width: auto;
    height: calc((1070px / 3) * 2 + 3px);
    object-fit: cover;
    margin-left: 35vw;
    margin-bottom: -5px;
  }
  .closeBtn {
    position: absolute;
    top: -7px;
    right: 12px;
    font-size: 3vw;
    z-index: 1;
    color: #340058;
  }
  /*Repositioning most of the images for when clicked*/
  #photo4_popup, #photo5_popup, #photo6_popup {
    margin-top: calc(1070px / 3 + 3px); /*Height of each row plus the margin between each row*/
  }
  #photo7_popup, #photo8_popup, #photo9_popup {
    margin-top: calc((1070px / 3) * 3 + 9px);
  }
  #photo10_popup, #photo11_popup, #photo12_popup {
    margin-top: calc((1070px / 3) * 4 + 12px);
  }
  #photo13_popup, #photo14_popup, #photo15_popup {
    margin-top: calc((1070px / 3) * 6 + 18px);
  }
  #photo16_popup, #photo17_popup, #photo18_popup {
    margin-top: calc((1070px / 3) * 7 + 21px);
  }
}
